@import 'common';
@import 'variables';

@import 'typography';
@import 'style_old';
@import 'kmom';
@import 'report';
@import 'gallery';


.main {
  background-color: $background-color;
}

img {
  max-width: 100%;
}

.site-header .logo {
  float: right;
  padding-bottom: 3em;
  display: block;
}

.side-header {
  background-color: $accent-background-color;
}


 .main h1 {
  border-bottom: 0.3px solid black;
  padding-bottom: 1em;
}


body {
  border: solid $border-color 5px;
  background-color: $body-color;
}

.social i, a {
  color: $border-color;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
