$font-color: rgb(240, 240, 240);
$accent-color: rgba(217, 100, 70, 100);
$border-color: rgb(212, 127, 42, 83);
$accent-background-color: rgb(36, 107, 60, 42);
$background-color: rgb(17, 14, 14);
$body-color: rgb(17, 16, 16);
